# Ignore node_modules
node_modules
npm-debug.log

# Ignore Next.js build output (except standalone specific files)
.next
!.next/standalone
!.next/static

# Ignore Python specific files
venv
env
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore local environment file
.env

# Ignore git and markdown
.git
.gitignore
README.md

# Ignore local logs and DB
*.log
*.db
*.sqlite
*.sqlite3
